<form method="post">
    <p>Você aceita participar dessa pesquisa?</p>
    <button type="submit" name="Aceito" value="true">Sim</button>
    <button type="submit" name="Aceito" value="false">Não</button>
</form>
