<div id="stimulus-area">
    <p id="fixation">+</p>
    <p id="mask" style="display:none;">######</p>
    <p id="prime" style="display:none;"></p>
    <p id="target" style="display:none;"></p>
</div>

<script>
    var primeDuration = 50;
    var targetDuration = 3000;
    var intervalo = 1000;

    setTimeout(function () {
        document.getElementById("fixation").style.display = "none";
        document.getElementById("mask").style.display = "block";

        setTimeout(function () {
            document.getElementById("mask").style.display = "none";
            document.getElementById("prime").style.display = "block";
            document.getElementById("prime").innerText = '@Model[0].Prime'; 

            setTimeout(function () {
                document.getElementById("prime").style.display = "none";
                document.getElementById("target").style.display = "block";
                document.getElementById("target").innerText = '@Model[0].Alvo';

                startRecording();

                setTimeout(function () {
                    document.getElementById("target").style.display = "none";
                    stopRecording();

                    setTimeout(function () {
                        window.location.reload();
                    }, intervalo);

                }, targetDuration);
            }, primeDuration);
        }, 500); 
    }, 500); 

    var mediaRecorder;
    var chunks = [];

    function startRecording() {
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function (stream) {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = function (e) {
                    chunks.push(e.data);
                };
                mediaRecorder.onstop = function () {
                    var blob = new Blob(chunks, { 'type': 'audio/ogg; codecs=opus' });
                    var audioURL = window.URL.createObjectURL(blob);
                    console.log("Audio gravado: ", audioURL);
                };
                mediaRecorder.start();
            });
    }

    function stopRecording() {
        mediaRecorder.stop();
    }
</script>
