@{
    ViewData["Title"] = "Instruções";
}

<div id="instTreino">
    <h2>Instruções</h2>

    <p>
        Nesta atividade, você deverá ler em voz alta as palavras que aparecerem na tela, da maneira mais rápida e precisa possível.
        Primeiro, faremos um treino para você se acostumar com a tarefa. Qualquer dúvida, não hesite em falar com a pesquisadora responsável.
    </p>

    <p>
        Vamos começar o treino. Você deverá ler em voz alta as palavras em mandarim que aparecerem na tela, o mais rápido que conseguir.
    </p>

    <button id="btnIniciarTreino" class="btn-contrast">Começar treino</button>
</div>

<div id="areaTreino" style="display:none;">
    <h3 id="textoTreino">Preparado? O treino começará em breve!</h3>

    <p id="temporizador"></p>
</div>